.container {
  display: flex;
  flex-flow: row wrap;
}

.loadMore {
  text-align: center;
  padding: 20px 0;
}

.empty {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}
