.preloader {
  height: 0;
  width: 0;
  padding: 30px;
  margin: 30px auto;
  border: 6px solid #f3f2f1;
  border-right-color: #dddddd;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
