.createOrder {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 10px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    & > * + * {
      margin-top: 10px;
    }
  }
}

.mapModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
